body {
    background-color: rgb(80, 7, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 15rem;
    font-family: montserrat;
}

.letter {
    transition: color 1000ms;
}