body {
    background-color: rgb(68, 188, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 16rem;
    font-family: montserrat;
}

.letter {
    transition: color 1000ms;
}